* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: hidden;
}

.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8;
}

header {
  width: 100%;
}

content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  padding: 4vh 4vw;
}

content::before {
  position: absolute;
  content: '';
  height: 600px;
  width: 600px;
  border-radius: 50%;
  left: 78%;
  top: 38%;
  background: linear-gradient(45deg, #883ab4, pink);
  animation: circle1 6s linear infinite;
}

content::after {
  position: absolute;
  content: '';
  height: 200px;
  width: 200px;
  border-radius: 50%;
  left: 6%;
  top: 12%;
  background: linear-gradient(45deg, #883ab4,#c13584);
  animation: circle2 6s linear infinite;
}

@keyframes circle1 {
  50% {
    left: 80%;
    top: 41%
  }
}

@keyframes circle2 {
  50% {
    left: 8%;
    top: 13%
  }
}

.contentContainer {
  z-index: 5;
}

/* skills style */
#skills {
  margin: 4vh 20%;
}

#skills h1 {
  font-weight: 900px;
}

#skills p {
  margin: 1vh 1vw;
  font-size: 2vh;
  color: grey;
}

/* footer style */
footer {
  width: 100%;
  padding: 4vh 4vw;
  background: black;
  color: white;
}

.iconContainerFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2vh 2vw;
}

.licenseContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* typing text style */
.typingText {
  text-align: center;
  display: block;
  font-size: 7vh;
  font-weight: 900;
  color: grey;
}

.typingTextList {
  color: black;
}
