#workingExp {
  margin: 0 20%;
}

#workingExp > div {
  margin: 4vh auto;
}

#workingExp .title {
  color: black;
  font-size: 3.5vh;
  font-weight: bold;
}

#workingExp .company {
  color: rgb(36, 33, 33);
  font-size: 2.5vh;
  margin: 1vh 0;
}

#workingExp .period {
  font-size: 2vh;
  font-weight: bold;
}

#workingExp .content {
  color: grey;
  font-size: 2vh;
  padding: 1vh 1vw;
}

#workingExp .doc {
  font-size: 1.5vh;
}